{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "loose": true
      }
    ]
  ],
  "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
}
